/*
1.Posicionamiento
2.Modelo de caja
3.Tipografia
4.Visuales
5.Otros 
*/
:root{
    --beach-yellow: #ffde59;
    --soft-yellow: #dedb88;
    --ola-blue: #5cafd6;
    --soft-blue: #aad5ce;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: var(--beach-yellow);
}
header img{
    width: 150px;
    margin-top: 0px;
    align-self: center;
    border-radius: 20px;
}
.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    margin-top: 10px;
}
.header--title-container p{
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--grey);
}
.header--title-container .header--button{
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 232px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}
main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main-servis-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-servis-container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-servis-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("./assets/img/logoESTACIOANR.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-servis-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-servis-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--grey);
}
.main-price-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 80px;
    font-family: "inter", sans-serif;
    scroll-snap-align: center;
}
.main-price-slider{
    display: flex;
    height: 330px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.main-price-table .price-table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--beach-yellow);
}
.price-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.price-table--container table{
    width: 100%;
    height: 100%;
}
.price-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.price-table--container .table__top-left{
    border-radius: 15px 0 0 0;
}
.price-table--container .table__top-right{
    border-radius: 0 15px 0 0;
}
.price-table--container .table_bottom-left{
    border-radius: 0 0 0 15px;
}
.price-table--container .table_bottom-right{
    border-radius: 0 0 15px 0;
}
.price-table--container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.price-table--container .auto{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/icons8-sed치n-16.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.price-table--container .moto{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/icons8-scooter-16.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.price-table--container .camioneta{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/icons8-recoger-64.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.price-table--container .trafic{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/icons8-cami칩n-16.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.price-table--container .bici{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/icons8-bicicleta-48.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.price-table--date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-yellow);
}
.price-table--date p{
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: var(--warm-black);
    font-weight: 300;
}
.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}
.procuct-detail--title{
    width: 90%;
    min-width: 290px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}
.procuct-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.procuct-detail--title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height:  1.8rem;
    color: var(--grey);
}
.product-detail--card{
    width: 90%;
    min-width: 288px;
    max-width: 600px;
    height: auto;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product--card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product--card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--grey);
}
.product-detail--card .historia{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/icons8-informaci칩n-16.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.product-detail--card .ubicacion{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/icons8-ubicaci칩n-en-todo-el-mundo-16.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.product-detail--card .servicios{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/icons8-valet-parking-48.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.playa-img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url("./assets/img/playa.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.playa-img-container{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--beach-yellow);
}
footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--beach-yellow);
}
footer section{
    display: flex;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer section img{
    width: 100px;
    margin-top: 0px;
    align-self: center;
    border-radius: 20px;
}
footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
    margin-left: 10px;
}
.left li{
    margin: 10px 0;
}
.left a{
    text-decoration: none;
    color: var(--just-white);
}